.menu-cover{
    width: 100%;
    height: 80vh;
    background-color: #EEEEEE;
    border-radius: 40px;
    position: relative;
}
.menu-container{
        width: 100%;
        height: 15%;
        margin-top: 1rem;
        background-color: green;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.menu-container h2{
    font-family: 'Aref Ruqaa';
    color: #EEEEEE;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    margin:  auto;
}

.menu-box{
    padding: .5rem;
}
.menu-box-content{
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menu-box-content button{
    border: none;
}

.food-tab{
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    height: 10rem;
    box-shadow: 10px 10px 50px #999;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc{
    width: 80%;
}

.image-box{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    /* position: absolute; */
    top: -40%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}
.food-tab img{
    margin: auto auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 3;

}

.food-tab h6{
    color: Red;
    font-family: 'Aref Ruqqa';
    font-size: 1rem;
    opacity: .8;
}
.food-tab hr{
 margin: 3px 0;
 color: #EEEEEE;
 opacity: .6;
}
.food-tab p{
    color: gray;
    font-family: 'Nunito';
    font-size: 14px;
    text-align: left;
}
.food-tab .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.food-tab .header p{
    color:#FFB100;
}

.header button{
    background: none;
    border: none;
}

.day{
    font-size: 18px;
    font-family: 'Great Vibes';
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {

    #dmenu.dashboard{
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .menu-box-content{
        padding: 0 1rem;
    }
    .desc{
        width: 80%;
    }

}
@media screen and (max-width: 768px) {

    .desc{
        width: 75%;
    }
}

@media screen and (max-width: 425px) {

    #dmenu.dashboard {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .menu-box-content {
        padding: 0 .2rem;
    }

    .desc {
        width: 80%;
    }
        .food-tab {
            padding: 10px;
            height: 10rem;
        }

        .food-tab .image-box {
            width: 100px;
            height: 100px;
        }
    
        .food-tab img {
            margin: auto auto;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            z-index: 3;
        }

        .header h6, .header p{
            margin: 0;
            margin-top: 5px;
        }
        .food-tab hr {
            margin: 1px 0;
        }
}

@media screen and (max-width: 425px) {

    .food-tab .desc h6, button{
        font-size: 14px;
    }
    .food-tab .desc p{
        font-size: 12px;
    }
        .menu-cover {
        height: 80vh;
    }

    .menu-container {
        height: 10%;
    }
}


/* ################ MENU MODAL ################*/

#inform .modal-content, #inform1 .modal-content, #convection .modal-content, #top_funds .modal-content,
#remove_funds .modal-content{
    background-color: #EEEEEE;
    border-radius: 14px;
}

#inform .modal-header, #inform1 .modal-header, #convection .modal-header,#top_funds .modal-header, #remove_funds .modal-header{
    background-color: green;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
#convection .modal-body,
#remove_funds .modal-body{
    padding: 1rem;
}
#convection form{
    background-color: #fff;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 6px;
}
.food-highlight{
    display: flex;
    background-color: #fff;
    border-radius: 6px;
    padding: 10px 20px;
    height: 11rem;
    box-shadow: 10px 10px 50px #999;    
    position: relative;
}
.food-show {
    padding: 10px 20px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* width: 30%; */
}

.food-show .desc {
    width: 100%;
}

.image-box {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    /* position: absolute; */
    top: -40%;
    left: 35%;
    border-radius: 50%;
    z-index: 1;
}

.food-show img {
    margin: auto auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 3;

}

.food-show h6 {
    color: Red;
    font-family: 'Aref Ruqqa';
    font-size: 1rem;
    opacity: .8;
}

.food-tab hr {
    margin: 3px 0;
    color: #EEEEEE;
    opacity: .6;
}

.food-tab p {
    color: gray;
    font-family: 'Nunito';
    font-size: 14px;
}

.food-tab .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.sides-container{
    display: flex;
    justify-content: space-between;
}

.sides{
    width: 50%;
}
.sides h5, .prot h5{
    font-family: 'Aref Ruqaa';
    font-size: .8rem;
}
.proteins{
    width: 70%;
}
.prot label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qty input{
    width: 40px;
}

.sides label, .prot label{
    font-family: 'Nunito';
    font-size: 12px;
}

#convection .modal-footer,
#remove_funds .modal-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.opay-details h5{
    color: green;
    font-family: 'Aref Ruqaa';
    text-align: center;
}
.opay-details p{
    color: gray;
    font-family: 'Nunito';
    text-align: center;
    line-height: 12px;
}
.opay-details span{
    color: gray;
    font-family: 'Nunito';
    text-align: center;
    font-weight: 600;
}
.payment button{
    /* font-family: 'Aref Ruqaa'; */
    padding-left: 0;
        padding-right: 0;
}


@media screen and (max-width: 425px) {
    .food-highlight {
            display: flex;
            background-color: #fff;
            border-radius: 6px;
            padding: 10px;
            height: 10rem;
            box-shadow: 10px 10px 50px #999;
            position: relative;
        }
    .qty input {
        width: 30px;
    }

    #convection .form-check-input{
        font-size: 12px;
    }
    .qty input{
        font-size: 12x;
    }
    .sides label, .prot label{
        font-size: 10px;
    }
}


/* ADD FUNDS MODAL */
.payment{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.payment button{
    width: 48%;
}


